<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/products/productsList.css">
    <title>Listado de productos</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <div class="flexboxRaiz">
            <% products.forEach((product)=>{ %>
                <%- include("../partials/productCard", {product}) %>
            <% }) %>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>