<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link href="/css/register.css" rel="stylesheet">
    
    <title>Mercado Liebre</title>
<body>
    <%- include("./partials/header") %>

    <main>
        <form class="formulario">
            <div>
                <input type="text" name="nameSurname" placeholder="Nombre y Apellido" class="entryText">
            </div>
            <div>
                <input type="text" name="username" placeholder="Nombre de usuario" class="entryText">
            </div>
            <div>
                <input type="email" name="email" placeholder="Correo electronico" class="entryText">
            </div>
            <div>
                <label class="formTitles">Fecha de nacimiento</label>
                <input type="date" name="birthdate" class="entryText">
            </div>
            <div>
                <input type="text" name="adress" placeholder="Domicilio" class="entryText">
            </div>
            <section>
                <label class="formTitles">Perfil de usuario</label>
                <div class="userProfileContainer">
                    <article class="userProfileControl">
                        <input type="radio" name="userProfile" value="buyer" id="buyer">
                        <label class="user" for="buyer">Comprador</label>
                    </article>
                    <article class="userProfileControl">
                        <input  type="radio" name="userProfile" value="seller" id="seller">
                        <label class="user" for="seller">Vendedor</label>
                    </article>
                </div>
            </section>
            <div>
                <label class="formTitles">Intereses</label>
                <section class="interesesContainer">
                    <div class="intereses">
                        <input type="checkbox" name="categories" value="electro" id="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div class="intereses">
                        <input type="checkbox" name="categories" value="moda" id="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div class="intereses">
                        <input type="checkbox" name="categories" value="hogar" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div class="intereses">
                        <input type="checkbox" name="categories" value="jugueteria" id="jugueteria">
                        <label for="jugueteria">Jugueteria</label>
                    </div>
                    <div class="intereses">
                        <input type="checkbox" name="categories" value="vidaSana" id="vidaSana">
                        <label for="vidaSana">Vida Sana</label>
                    </div>
                </section>
            </div>
            <div class="profilePicture">
                <label class="formTitles">Defina su foto de usuario</label>
                <input type="file" name="userPhoto" class="userPhoto"> 
            </div>
            <div>
                <input type="password" name="password" placeholder="Contraseña" class="entryText">
                <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" class="entryText">
            </div>
            <div>
                <button type="reset">Borrar</button>
                <button type="submit"><a id="enviar" href="/">Enviar</a></button>
            </div>

        </form>
    </main>

    <%- include("./partials/footer") %>

</body>
</html>