<footer>
        <section class="footerSection1">
            <div><i class="fa-solid fa-credit-card"></i></div>
            <p class="titulares-footer">Pagá con tarjeta o en efectivo</p>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="footerSection2">
            <div><i class="fa-solid fa-gift"></i></div>
            <p class="titulares-footer">Envío gratis desde $2.500</p>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="footerSection3">
            <div><i class="fa-solid fa-user-shield"></i></div>
            <p class="titulares-footer">Seguridad, de principio a fin</p>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        
        <div class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
    </footer>