<header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/logo-mercado-liebre.svg" class="logo">
            <form class="searchForm">
                <input id="searchBar" type="text" placeholder="Buscar productos, marcas y mas...">
                <button class="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-header-bottom-bar">
            <ul class="left-navbar" type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar" type="none">
                <li><a href="/users/register">Creá tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="/users/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>