<article class="articulo">
                    <img src="<%= product.image %>">
                    <div class="caja-articulo">
                        <i id="camion" class="fa-solid fa-truck"></i>
                        <div class="flexbox">
                            <p class="precios">$<%= product.price %></p>
                            <p class="descuentos"><%= product.discount %>% OFF</p>
                        </div>
                        <p class="descripciones"><%= product.name %></p>
                    </div>
                </article>