<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head") %>
    <link href="/css/login.css" rel="stylesheet">
    
    <title>Mercado Liebre</title>
</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <form method="post" action="/users/login">
            <div>
                <input type="email" name="email" placeholder="Correo electronico" class="entryText">
            </div>
            <div>
                <input type="text" name="password" placeholder="Elegí tu contraseña" class="entryText">
            </div>
            <div>
                <input type="checkbox" name="rememberUser">Recordarme</input>
            </div>
            <div>
                <button id="botonEnviar" type="submit">Enviar</button>
            </div>
            
        </form>
    </main>


    <%- include("../partials/footer") %>

</body>
</html>

