<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head") %>
    <link href="/css/login.css" rel="stylesheet">
    
    <title>Mercado Liebre</title>
</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <form method="post" action="/users/login">
            <div>
                <input type="email" name="email" class="entryText">
                
            </div>
            <div>
                <input type="password" name="password" class="entryText">
            </div>
            <% if (locals.errors && errors.email) { %>
                    <p><%= errors.email.msg %></p>
                <% } %>
            <div>
                <input type="checkbox" name="rememberUser">Recordarme</input>
            </div>
            <div>
                <button id="botonEnviar" type="submit">Enviar</button>
            </div>
            
        </form>
    </main>


    <%- include("../partials/footer") %>

</body>
</html>

