<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link href="/css/register.css" rel="stylesheet">
    
    <title>Mercado Liebre</title>
<body>
    <%- include("../partials/header") %>

    <main>
        <form class="formulario" action="/users/createUser" method="post" enctype="multipart/form-data">
            <div>
                <label for="name" class="formTitles">Nombre</label>
                <input type="text" name="name" placeholder="Nombre" class="entryText">
            </div>
            <div>
                <label for="surname" class="formTitles">Apellido</label>
                <input type="text" name="surname" placeholder="Apellido" class="entryText">
            </div>
            <div>
                <label for="username" class="formTitles">Nombre de usuario</label>
                <input type="text" name="username" placeholder="Nombre de usuario" class="entryText">
            </div>
            <div>
                <label for="email" class="formTitles">Email</label>
                <input type="email" name="email" placeholder="Correo electronico" class="entryText">
            </div>
            <div>
                <label class="formTitles">Fecha de nacimiento</label>
                <input type="date" name="birthdate" class="entryText">
            </div>
            <div>
                <label for="address" class="formTitles">Domicilio</label>
                <input type="text" name="address" placeholder="Domicilio" class="entryText">
            </div>
            <section>
                <label class="formTitles">Perfil de usuario</label>
                <div class="userProfileContainer">
                    <article class="userProfileControl">
                        <input type="radio" name="userProfile" value="buyer" id="buyer">
                        <label class="user" for="buyer">Comprador</label>
                    </article>
                    <article class="userProfileControl">
                        <input  type="radio" name="userProfile" value="seller" id="seller">
                        <label class="user" for="seller">Vendedor</label>
                    </article>
                </div>
            </section>
            <div class="profilePicture">
                <label class="formTitles">Defina su foto de usuario</label>
                <input type="file" name="userPhoto" class="userPhoto"> 
            </div>
            <div>
                <label for="password" class="formTitles">Contraseña</label>
                <input type="password" name="password" placeholder="Contraseña" class="entryText">
            </div>
            <div>
                <button type="reset">Borrar</button>
                <button type="submit">Enviar</button>
            </div>

        </form>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>